/*
	Web designer: Enzo Fabricio Gago Aguirre
	Contact: enzo.gago@powermas.com.pe
	Last update: 2023/11/23
	Description: Custom Style Page for Ayuda en Acción
*/


body {
	font-family: DMMono;
}
input[type=text], select{
	outline: none;
}
input,select{
	border-radius: 5px;
	margin-top: 5px;
	transition: border 0.2s;
}
select option {
    background-color: #fff;
	color: #000;
}
input:focus,select:focus{
	border: 1px solid #F7775A!important;
	box-shadow: 0px 3px 10px rgba(247, 119, 90, 0.3);
}
input:disabled,select:disabled{
	background-color: #fff!important;
	border: 1px solid #B7B7B7;
	
}
input::placeholder,select::placeholder{
	color: #B7B7B7;
}

*[disabled] {
    cursor: default;
    color: #999;
    background-color: #ddd!important;
}
/* LOGIN_VIEW */

.PowerMas_ParentLogin {
	background-color: #F87C56;
	display: flex !important;
}

.PowerMas_Form_Contact_First_Part {
	height: 100%;
}

.PowerMas_Form_Contact_First_Part picture{
	padding: 1rem 2rem;
}

.PowerMas_Form_Contact_First_Part picture img{
	width: auto; 
	height: 50px;
}

.allvh {
	min-height: 100vh;
}

.fixed-top {
	padding-top: 5rem;
}

.flex-caption {
	padding: 2%;
	color: #116186;
	height: 4rem;
	background: #fff;
	text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.1);
	line-height: 1rem;
}

.Powermas_FontTitle {
	font-family: Bogart;
}

.PowerMas_InputLogin {
	border: none;
	border-bottom: 1px solid black;
	padding: 8px 0;
	margin: 8px 0;
	width: 100%;
	border-radius: 0;
}

.PowerMas_InputLogin:focus {
	outline: none;
}

.PowerMas_RememberMe {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
}

.PowerMas_RememberMe font:hover {
	text-decoration: underline;
	cursor: pointer;
}

.PowerMas_LabelError{
	min-height: 20px;

}

.PowerMas_ButtomLogin {
	width: 60%;
	background-color: #FBC355;
	color: black;
	border: none;
	padding: 10px 32px;
	text-align: center;
	margin: 1rem auto;
	cursor: pointer;
	border-radius: 12px;
	transition: background-color 0.3s ease;
}

.PowerMas_ButtomLogin:hover {
	background-color: #FFD479;
}


@media screen and (max-width: 30em) {
	.PowerMas_Form_Contact_First_Part picture {
		text-align: center;
	}

	.PowerMas_ButtomLogin {
		margin: 0 auto;
	}

	.PowerMas_Form_Contact_First_Part picture img {
		height: auto;
	}

	.PowerMas_ImageLogin img {
		max-height: 520px;
	}
}
@media screen and (min-width: 43em) {
	.PowerMas_ButtomLogin {
		margin: 2rem auto;
	}

	.PowerMas_ImageLogin img {
		max-height: 525px;
	}
}

@media screen and (min-width: 52em) {
	.PowerMas_ImageLogin img {
		max-height: 530px;
	}
}

@media screen and (min-width: 64em) {
	.PowerMas_FormLogin {
		padding: 1rem 6rem;
	}

	.PowerMas_ButtomLogin {
		margin: 2rem auto;
	}

	.PowerMas_ImageLogin img {
		max-height: 560px;
	}
}


.PowerMas_MainContainer {
	background-color: #fff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	max-height: 560px;
}

@media only screen and (max-width: 600px) {
	.PowerMas_ImageLogin {
		display: none;
	}
}

.PowerMas_ImageLogin img {
	object-fit: cover;
	min-height: 520px;
}



/* HOME_VIEW */

.PowerMas_Search_Container_Home{
	position: sticky;
	top: 0;
	z-index: 99;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	background-color: #dedddd;
}
.PowerMas_Search_Container_Home svg{
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
	width: auto;
	margin-left: 15px;
}
.PowerMas_Search_Container_Home input:focus {
	outline: none;
}
.PowerMas_Search_Container_Home input {
	border: none;
	color: black;
	transition: box-shadow 0.3s ease-in-out;
	padding-left: 50px;
	min-width: 200px;
}


.PowerMas_MainHome {
	width: 100%;
	height: 100vh;
}

.PowerMas_Menu {
	background-color: #F87C56;
	height: 100%;
	box-sizing: border-box;
}

.PowerMas_Menu h1 {
	color: #fff;
}

/* Personaliza la barra de desplazamiento */
.PowerMas_MenuContainer::-webkit-scrollbar {
	width: 6px;
}

.PowerMas_MenuContainer::-webkit-scrollbar-track {
	background: #F87C56;
}

.PowerMas_MenuContainer::-webkit-scrollbar-thumb {
	background: #888;
}

.PowerMas_MenuContainer::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.PowerMas_MainRender{
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #dedddd;
	box-shadow: inset 10px 0px 10px rgba(0, 0, 0, 0.2);
	position: relative;
}
.todos *{
	border: 1px solid black;
}
.PowerMas_Content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	height: 100vh;
	overflow: auto;
	border-radius: 5px;
}
/* Personaliza la barra de desplazamiento */
.PowerMas_Content::-webkit-scrollbar {
	width: 6px;
}

.PowerMas_Content::-webkit-scrollbar-track {
	background: #dedddd;
}

.PowerMas_Content::-webkit-scrollbar-thumb {
	background: #888;
}

.PowerMas_Content::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* .PowerMas_MainRender::before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #20737b;
	box-shadow: inset 10px 0px 10px rgba(0, 0, 0, 0.2);
} */
.PowerMas_MainRender > div {
}

.PowerMas_LinkMenuContainer {
	flex-direction: column;
}

.PowerMas_LinkMenuContainer.active-level-1 > div.PowerMas_Submenu {
    max-height: 500px;
	padding-left: 10px;
}
.PowerMas_LinkMenuContainer.active-level-2 > div.PowerMas_Submenu {
	max-height: 500px;
	padding-left: 10px;
}
.PowerMas_LinkMenuContainer.active-level-3 > div.PowerMas_Submenu {
    max-height: 500px;
	padding-left: 10px;
}
.PowerMas_LinkMenuContainer.active-level-4 > div.PowerMas_Submenu {
	max-height: 500px;
	padding-left: 10px;
}
.PowerMas_LinkMenuContainer.active-level-5 > div.PowerMas_Submenu {
    max-height: 500px;
	padding-left: 10px;
}
.PowerMas_LinkMenuContainer.active-level-6 > div.PowerMas_Submenu {
	max-height: 500px;
	padding-left: 10px;
}

.PowerMas_Submenu {
	max-height: 0;
	overflow: hidden;
	width: 100%;
	transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

/**/
.PowerMas_MenuContainer a{
	text-decoration: none;
}


.PowerMas_MenuOptions > div, .PowerMas_Submenu div.menu-item, .PowerMas_MenuContainer a{
    color: #eaeaea; /* Un blanco no tan claro */
	transition: 0.2s ease-in-out;
}
.PowerMas_MenuOptions > div:hover, .PowerMas_Submenu div.menu-item:hover, .PowerMas_MenuOptions a:hover {
    color: #fff; /* Blanco puro al pasar el ratón por encima */
	cursor: pointer;
}
.PowerMas_Submenu div.menu-item:hover, .PowerMas_MenuOptions a:hover, .PowerMas_MenuOptions > div .menu-item:hover{
	background-color: #e47e5f;
}

.PowerMas_MenuOptions > div {
	width: 100%;
    display: flex;
    align-items: center;
    min-height: 45px;
	border-bottom: 1px solid #fff;
}
.PowerMas_MenuOptions > div:first-child{
	border-top: 1px solid #fff;
}

.PowerMas_MenuOptions > div .menu-item {
	min-height: 45px;
	transition: 0.2s ease-in-out;
}

.PowerMas_MenuContainer svg{
	width: 20px;
	height: 20px;
	min-height: 20px;
	min-width: 20px;
}

.PowerMas_MenuOptions > div .arrow {
    transition: transform 0.3s ease;
}

.PowerMas_MenuOptions div.active-level-1 > div > span {
    transform: rotate(90deg);
}
.PowerMas_MenuOptions div.active-level-2 > div > span {
    transform: rotate(90deg);
}
.PowerMas_MenuOptions div.active-level-3 > div > span {
    transform: rotate(90deg);
}
.PowerMas_MenuOptions div.active-level-4 > div > span {
    transform: rotate(90deg);
}
.PowerMas_MenuOptions div.active-level-5 > div > span {
    transform: rotate(90deg);
}
.PowerMas_MenuOptions div.active-level-6 > div > span {
    transform: rotate(90deg);
}


.PowerMas_Submenu > div {
	min-height: 30px;
}
.PowerMas_Submenu > div a{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1rem;
}
.PowerMas_Submenu > div a svg{
	width: 13px;
	height: 13px;
	min-height: 13px;
	min-width: 13px;
}

.PowerMas_MainSingleLink a{
	width: 100%;
	display: flex;
	align-items: center;
	min-height: 40px;
	padding: 0 1rem;
}


.PowerMas_SingleLink{
	display: flex;
	gap: 1rem;
	align-items: center;
}

.PowerMas_MenuBottom {
	color: #fff;	
}

/*
	BAR COMPONENT
*/
.PowerMas_ProfileContainer {
	display: flex;
	align-items: center;
}

.PowerMas_ProfilePicture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #277980; /* Reemplaza esto con la imagen de perfil */
	overflow: hidden;
}
.PowerMas_ProfilePicture img {
    height: auto;
}

.PowerMas_ProfilePicture2 {
	position: relative;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
}
.PowerMas_ProfilePicture2 img {
    height: auto;
}


.PowerMas_ProfileInfo{
	display: flex;
}
.PowerMas_Profile_Name{
	background-color: #7575750c;
}
.PowerMas_ProfileInfo  span{
	display:block;
}

.PowerMas_MenuIcon {
	transition: transform 0.3s ease;
}
.PowerMas_MenuIcon--rotated {
	transform: rotate(90deg);
}
.PowerMas_DropdownMenu {
	overflow: hidden;
	display: none;
	position: absolute;
	top: 50px;
	right: 35px;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
	border-radius: 5px;
}
  
.PowerMas_DropdownMenu a {
	color: #757575;
	text-decoration: none;
}
  
.PowerMas_DropdownMenu a:hover {
	background-color: #f1f1f1;
}
  
.PowerMas_DropdownMenu--open {
	display: block;
}
  
.PowerMas_BarContainer {
	background-color: #20737b;
	color: #fff;
}

.PowerMas_BarContainer h2 {
	font-family: Bogart;
	letter-spacing: 2px;
}

.PowerMas_SearchContainer {
	z-index: 99;
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.PowerMas_SearchContainer input {
	border: none;
	color: black;
	transition: box-shadow 0.3s ease-in-out;
	border-radius: 5px;
	padding-left: 50px;
}

.PowerMas_Input:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.PowerMas_InputIcon {
	color: black ;
	position: absolute;
	width: 50px;
}

.PowerMas_Input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="white"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>') no-repeat;
	cursor: pointer;
}
.PowerMas_Tooltip_Info {
    max-width: 50%; /* Ajusta esto a la anchura que prefieras */
    word-wrap: break-word;
	
}

.tooltip {
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(52, 73, 94, .2), 0 1px 1px rgba(52, 73, 94, 0.1);
    left: 0;
    opacity: 0;
    padding: 0.5em 1em;
    pointer-events: none;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: -12px;
    transition: opacity 0.2s linear, transform 0.2s ease-in-out;
    z-index: 1;
}

.tooltip:before {
    background-color: #fff;
    border-left-color: transparent;
    border-top-color: transparent;
    bottom: 0;
    content: '';
    height: 12px;
    left: 50%;
    position: absolute;
    transform-origin: center center;
    transform: translate(-50%, 50%) rotate(45deg);
    width: 12px;
    z-index: 1;
}

.tooltip-name {
    margin-bottom: 0.2em;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 700;
}

.tooltip-value {
    margin-bottom: 0.2em;
    font-size: 1rem;	
    line-height: 1.4;
    font-weight: 400;
}

.PowerMas_ResumeHome {
	gap: 1rem;
}

.PowerMas_RightSection, .PowerMas_LeftSection{
	border-radius: 5px;
	max-height: 28rem;
}

.PowerMas_CheckboxContainer {
	display: flex;
	gap: 1rem;
}

.PowerMas_KPIRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	background-color: #f7f7f7;
	border: 1px solid #cfcfcf;
}

.PowerMas_TableHome {
	width: 100%;
	table-layout: fixed;
	font-weight: lighter;
}

.PowerMas_TableHome td, th{
	text-align: left;
	padding: 0.5rem;
}

.PowerMas_TableHome tr:first-child th {
	border-bottom: 1px solid black;
}

.PowerMas_AccessCards{
	display:flex;
	gap: 2rem;
}

.PowerMas_AccessCard {
	background-color: #FFF5EE;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	border: 1px solid #372e2c70;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
}

.PowerMas_AccessCardHeader{
	text-decoration: none;
	color: #fff;
	background-color: #FBC355;
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
}
.PowerMas_AccessCardHeader:hover{
	color: #fff;
}

.PowerMas_AccessCard p{
	font-family: Bogart;
}

.PowerMas_AccessIndicator{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.PowerMas_AccessIndicator span:first-child{
	text-align: left;
}
.PowerMas_AccessIndicator span:last-child {
	text-align: right;
}

#donutContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	position: relative;
}
#counter {
	position: absolute;
	font-size: 20px;
}

.PowerMas_ActivitiesSection, .PowerMas_BeneficiarySection {
	background-color: #fff;
	border-radius: 5px;
}

.PowerMas_Icon > div{
	width: 40px;
	height: 40px;
	color: #fff;
	background-color: #20737b;
	border-radius: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*	
	VISTA NewProject.cshtml
*/

.PowerMas_MainNewProject {
	padding: 0 1rem;
	display: flex;
	height: 80%;
	gap: 1rem;
}

.PowerMas_MainNewProject h2 {
	font-family: DMMono;
	font-weight: 500;
}

.PowerMas_ProjectInfo h2 {
	padding: 1rem 0;
}

.PowerMas_ProjectInfo, .PowerMas_ProjectDetails {
	padding: 0.5rem 1rem;
}

.PowerMas_ProjectInfo, .PowerMas_ProjectDetails, .PowerMas_ObjectiveContainer, .PowerMas_ResultContainer {
	display: flex;
	flex-direction: column;
}

.PowerMas_ProjectDetails {
	height: auto;
	overflow-y: auto;
}

.PowerMas_SubProjectItem{
	margin-bottom: 1rem;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.PowerMas_SubProjectItem div textarea{
	width: 90%;
	border-radius: 0;
}
.PowerMas_NewSubproject, .PowerMas_SAPInput, .PowerMas_HeaderObjective, .PowerMas_HeaderResult {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.PowerMas_HeaderObjective > div{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}


.PowerMas_MainNewProject input[type=text] {
	border: none;
	border-bottom: 2px solid #757575;
}

.PowerMas_HeaderResult > div{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.PowerMas_MainNewProject input[type=text]:focus {
	outline: none;
}

textarea {
	border-radius: 5px;
	min-height: 6rem;
}

.PowerMas_MainNewProject textarea:focus {
	outline: none;
}

.PowerMas_NewSubproject {
	padding: 1rem 0;
}

.PowerMas_SAPInput, .PowerMas_ObjectiveContainer, .PowerMas_ResultContainer {
	padding: 1.3rem 1.5rem;
}

.PowerMas_ProjectDetails textarea {
	margin: 0 1.5rem;
	min-height: 50px;
}

.PowerMas_ObjectiveContainer input, .PowerMas_ResultContainer input {
	margin-top: 10px;
}

/* FOOTER_VIEW */

.PowerMas_FormProject > div:last-child {
	height: 10%;
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem 1rem;
	box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.PowerMas_FormProject > div:last-child > div {
	padding: 0.25rem 3rem;
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.PowerMas_FooterButton {
	width: 45%; 
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.PowerMas_FooterButton:first-child {
	background-color: #757575;
	color: white;
	transition: background-color 0.3s ease;
}
.PowerMas_FooterButton:first-child:hover {
	background-color: #b1b1b1;
}
.PowerMas_FooterButton:last-child {
	background-color: #AFAF0A;
	color: white;
	transition: background-color 0.3s ease;
}
.PowerMas_FooterButton:last-child:hover {
    background-color: #fccc54;
}

.PowerMas_ImportButton {
	background-color: #AFAF0A;
	color: white;
	border: none; 
	padding: 0.5rem 0.5rem; 
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center; 
	transition: background-color 0.3s ease;
}

.PowerMas_ImportButton:hover {
    background-color: #fccc54;
}

.PowerMas_ImportButton span.arrow {
	transform: rotate(90deg); 
}


.PowerMas_MainNewProject i {
	color: #757575;
	margin-left: 1rem;
}

.PowerMas_ButtomContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.PowerMas_ButtomContainer svg{
	color: #757575;
	cursor: pointer;
}

.PowerMas_InputBudget {
	width: 50%;
}


/* SATUS VIEW */
.PowerMas_InputTag{
	border: 1px solid #87828060;
	background-color: #372e2c02;
	color: #000;
	margin-left: 5px;
	border-radius: 5px;
}
.PowerMas_InputTag button{
	border: 1px solid transparent;
	background-color: transparent;
	color: #372E2C;
}
.PowerMas_Search_Container{
	border: 1px solid #F7CEAD;
	border-radius: 5px;
	position: relative;
}
.PowerMas_Search_Container svg{
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.PowerMas_Input_Filter_Container{
	border-radius: 5px;
	flex-wrap: nowrap;
	overflow-x: auto;
	scrollbar-width: thin;
	border: 1px solid #F7CEAD;
	background-color: #fff;
}
.PowerMas_Input_Filter{
	padding-left: 45px;
	outline: none;
	border: none;
	min-width: 30%;
	margin: 0;
}
.PowerMas_Input_Filter:focus{
	border: none!important;
	box-shadow: none;
}
.PowerMas_Dropdown_Export {
    position: relative;
    display: inline-block;
}
.PowerMas_Dropdown_Export button{
	background-color: #FFF7F3;
	border: 1px solid #F7775A;
	color: #F7775A;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}
.PowerMas_Dropdown_Export button:hover{
	background-color: #ffeadf;
}

.PowerMas_Dropdown_Export_Content {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease-out;
	border: 1px solid #F7775A;
}

.PowerMas_Dropdown_Export_Content a {
    color: black;
    text-decoration: none;
	background-color: #FFFFFF;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.PowerMas_Dropdown_Export_Content a:hover {
    background-color: #f1f1f1;
}

.PowerMas_Dropdown_Export.open .PowerMas_Dropdown_Export_Content {
    transform: scaleY(1);
}


.PowerMas_ButtonStatus {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
    background-color: #F7775A;
    color: white; 
    border: none; 
    cursor: pointer; 
	transition: background-color 0.3s ease;
	border-radius: 5px;
}

.PowerMas_ButtonStatus:hover {
    background-color: #D03F1E; /* Cambia el color de fondo cuando se pasa el ratón por encima para un efecto hover */
}

.TableMainContainer{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.TableMainContainer h1{
	padding: 0 0.5rem;
}
.PowerMas_TableContainer {
	flex-grow: 1;
    overflow: auto;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
}
.PowerMas_TableContainerHome{
	flex-grow: 1;
    overflow-x: hidden;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
}
.PowerMas_GroupSelect{
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
.PowerMas_GroupSelect > div {
	text-align: start;
}

.PowerMas_TableStatus thead th > div{
	display: flex;
    justify-content: space-between;
    align-items: center;
	color: #F7775A;
	font-weight: lighter;
}

.PowerMas_TableStatus thead th div svg {
    height: 1em;
    width: auto; 
}

.PowerMas_TableStatus thead tr:first-child{
	position: sticky;
    top: 0;
    background: white; 
	transition: background-color 0.3s ease;
}
.PowerMas_TableStatus thead tr:first-child input{
	border: none;
	outline: none;
	width: 100%;
	border-bottom: 1px solid black;
}

.PowerMas_Input_Color {
	height: auto;
	border: none;
	background-color: transparent;
	padding: 0;
}


.resizer {
    display: inline-block;
    background: transparent;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action: none;
}

.resizer:hover,
.resizer.isResizing {
    background: #000;
	cursor: col-resize;
}



.PowerMas_TableStatus{
	font-size: 0.75rem;
}
.PowerMas_TableStatus thead tr:last-child th:hover{
	/* background-color: #f0f0f0; */
	cursor: pointer;
}
.PowerMas_TableStatus thead tr:last-child th::after{
	content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	border-bottom: 1px solid #d3d3d3;
}

.PowerMas_TableStatus td {
	padding: 0 0.5rem;
	width: auto;
    word-wrap: break-word;
	border-bottom: 1px solid #d3d3d3;
}

.PowerMas_TableStatus tbody tr{
	background-color: white;
	transition: background-color 0.1s ease;
	height: 2rem;
}

.PowerMas_TableStatus tbody tr:hover{
	background-color: #FDF6F2; 
}

.PowerMas_TableEmpty td{
	border: 1px solid transparent!important;
}
.PowerMas_TableEmpty:hover{
	background-color: #fff!important;
}

.PowerMas_Modal_Form_invalid{
	background: #fff url("../Img/PowerMas_Error.svg") no-repeat 98%   ;
	background-size: 20px 20px;
	border: 1px solid #E5554F!important;
}
.PowerMas_Modal_Form_valid {
	background: #fff url("../Img/PowerMas_Correcto.svg") no-repeat 98% center;
	background-size: 24px 24px;
	border: 1px solid #25848F!important;
}
.PowerMas_Modal_Form_Calendar_Enable {
	background: #fff url("../Img/CalendarEnable.svg") no-repeat 98% center;
	background-size: 24px 24px;
}
.PowerMas_Modal_Form_Calendar_Disabled {
	background: #fff url("../Img/CalendarDisabled.svg") no-repeat 98% center;
	background-size: 24px 24px;
}
.PowerMas_Message_Invalid{
	color: #E5554F;
	margin-top: 3px;
}
  
.PowerMas_Modal {
	z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
}
.PowerMas_ModalContent {
	width: 30%;
	min-width: 30%;
    max-width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    overflow: auto;
    max-height: 90%;
}
.PowerMas_Modal.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.5s 0s, transform 0.5s;
}

.PowerMas_CloseModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	transition: color 0.3s ease;
}

.PowerMas_CloseModal:hover,
.PowerMas_CloseModal:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.PowerMas_ModalContent > h2{
	color: #20737B;
	border-bottom: 1px solid #372e2c96;
	padding: 1rem;
	margin-bottom: 10px;
}
.PowerMas_ModalContent > label{
	margin: 1rem 0;
}
.PowerMas_FormStatus input[type=text],.PowerMas_FormStatus input[type=password]{
	width: 100%;
	border-radius: 5px;
	padding: 0.5rem;
	border: 1px solid #FFDED7;
	outline: none;
}
.PowerMas_StatusSubmit{
	margin-top: 1.5rem;
}
.PowerMas_StatusSubmit input, .PowerMas_StatusSubmit button{
	padding: 0.5rem 1rem;
	background-color: #F7775A;
	border: 1px solid transparent;
	color: #ffffff;
	transition: background-color 0.3s ease;
	border-radius: 5px;
}
.PowerMas_StatusSubmit input:hover, .PowerMas_StatusSubmit button:hover{
	background-color: #D03F1E;
}
.PowerMas_SidebarHeader{
	padding-bottom: 15px;
	/* border-bottom: 1px solid #372e2c96; */
}
.PowerMas_SidebarHeader > h2{
	color: #20737B;
}

.PowerMas_IconsTable{
	width: auto;
}
.PowerMas_IconsTable svg{
	width: 29px;
	height: 29px;
	color: #F7775A;
	transition: color 0.2s ease;
}
.PowerMas_IconsTable svg:hover{
	cursor: pointer;
	color: #D03F1E;
}
.PowerMas_Tooltip{
	padding: 10rem;
	transition: opacity 0.30s ease-in-out;
}


.PowerMas_Pagination{
	background-color: #FCFCFC;
	height: 5%;
	box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
}
.PowerMas_Pagination button{
	background-color: transparent;
	transition: background-color 0.3s ease;
	border: 1px solid #372e2c5c;
	width: 32px;
	height: 32px;
	font-weight: 600;
}

.PowerMas_Pagination button:hover{
	cursor: pointer;
	background-color: #FFDBC0;
}
.PowerMas_Pagination select{
	background-color: #FFF7F1;
	border: 1px solid #F9DED7;
	border-radius: 5px;
}

.PowerMas_FilterStatus {
	position: relative;
}

.PowerMas_FilterStatus input {
	width: 100%;
	padding: 10px 20px 10px 40px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #f0f0f0;
	color: black;
	transition: box-shadow 0.1s ease-in-out;
}

.PowerMas_FilterStatus input:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.PowerMas_FilterStatus svg {
	width: inherit;
	color: black ;
	position: absolute;
	left: 15px;
	top: 20px;
}

.PowerMas_FilterStatus input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="black"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>') no-repeat;
	cursor: pointer;
}

.sort-icon {
    color: #ff5f3c; /* color para el estado inactivo */
	width: 10px;
	height: 10px;
}

.sort-icon.active {
    color: #ff5f3c; /* color para el estado activo */
}
/* REUSABLE */
.pointer{
	cursor: pointer;
}
.bg-white{
	background-color: #fff;
}
.h-100{
	height: 100%;
}
.w-200{
	width: 300%;
}
.errorInput{
	color: red;
	background-color: rgb(255, 148, 148);
	font-weight: bold;
	border: 1px solid;
	margin-top: 0px;
}
.red {
    color: red;
    transition: color 0.3s ease;
}
.red-hover:hover {
    color: darkred;
}
.grey{
	color: #757575;
	transition: color 0.3s ease;
}
.grey-hover:hover{
	color: #605f5f;
}
.slider{
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
	font-weight: bold;
}
.relative{
	position: relative;
}
.color-black{
	color: #000;
}
.gap_3{
	gap: 0.3rem;
}

.PowerMas_Buttom_Primary{
	background-color: #F7775A;
	color: #F6E3D6;
	border-radius: 5px;
	border: 1px solid;
	transition: background-color 0.2s ease-in;
}
.PowerMas_Buttom_Primary:hover{
	background-color: #D03F1E;
}
.PowerMas_Buttom_Secondary{
	background-color: #FFFDFD;
	color: #F7775A;
	border-radius: 5px;
	border: 1px solid;
	transition: background-color 0.2s ease-in;
}
.PowerMas_Buttom_Secondary:hover{
	background-color: #ffeadf;
}

.PowerMas_Hover_Grey:hover{
	background-color: #e6e4e4;
}

.color-gray{
	color: #7E7D7D;
}
/* END REUSABLE */

/* CREAR/MODIFICAR USUARIO */
.PowerMas_FormUserContainer form{
	height: 90%;
	overflow-y: auto;
}
.PowerMas_FormUserContainer form > label{
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.PowerMas_FormUserContainer div.PowerMasInputSex {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.PowerMas_FormUserContainer div.PowerMasInputSex > div {
	display: flex;
	gap: 2rem;
}
.PowerMas_FormUserContainer div.PowerMasInputSex > div > div{
	display: flex;
	gap: 0.5rem;	
}
.PowerMas_FormUserContainer button{
	margin-top: 1rem;
}
.PowerMas_Form_User_Bar{
	border: 1px solid #372e2c5e;
	border-radius: 5px;
	color: #372e2c86;
	white-space: nowrap;
}
.PowerMas_Form_User_Bar > div > p {
	white-space: nowrap;
}
.PowerMas_Form_User_Bar > div > div > span {
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 20px;
    border: 1px solid transparent;
	background-color: #372e2c11;
	color: #372e2c86;
}
.PowerMas_Form_User_Bar > div > div > article > p:last-child{
	color: #372e2c86;
}
.PowerMas_Form_User_Bar_Active{
	background-color: #F7775A!important;
	color: #fff!important;
}
.PowerMas_Form_Card {
	border: 1px solid #372e2c60;
	border-radius: 5px;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
}
.PowerMas_Home_Card{
	border: 1px solid #372e2c60;
	border-radius: 5px;
}
.PowerMas_Hr{
	height: 1px;
	border: 1px solid #1111113a;
}
.PowerMas_Form_Card input,
.PowerMas_Form_Card select{
	background-color: transparent;
	outline: none;
	border: 1px solid #372e2c52;
	border-radius: 5px;
	padding: 0.25rem;
}
.PowerMas_Info_User > article{
	display: flex;
	gap: 1rem;
}

/* END CREAR/MODIFICAR USUARIO */

/* CREAR/MODIFICAR MENU-USUARIO */

.PowerMas_ListMenus ul{
	list-style: none;
}
.PowerMas_ListMenus li div span{
	cursor: pointer;
}
.closed {
    display: inline-block;
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
}

.open-user {
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}

.menu {
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}
.menu.active {
    transition: max-height 0.2s ease-in;
    max-height: 100vh;
}

.PowerMas_Button_Permissions{
	background-color: #FFF5EE;
	border: 1px solid #F7775A;
	border-radius: 5px;
	color: #F7775A;
	transition: background-color 0.2s ease-in;
}
.PowerMas_Button_Permissions:hover{
	background-color: #fce3e3;
}


.PowerMas_Menu_Dropdown{
	background-color: #FFFAF6;
	border: 1px solid #372e2c3e;
}
.PowerMas_Title_Modal_Permission{
	color: #20737B;
}
.PowerMas_Button_Modal_Permission{
	background-color: #FFF5EE;
	border: 1px solid #F7775A;
	border-radius: 5px;
}
.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}
  
.ReactModal__Overlay--after-open {
	opacity: 1;
}
  
.ReactModal__Overlay--before-close {
	opacity: 0;
}
  
/* END CREAR/MODIFICAR MENU-USUARIO */

/* CREAR/MODIFICAR PERMISO-USUARIO */
.PowerMas_ListPermission ul{
	list-style: none;
}
.PowerMas_ListPermission > ul > li{
	margin-bottom: 1.5rem;
}

.PowerMas_Permission_Dropdown{
	background-color: #FFFAF6;
	border: 1px solid #372e2c3e;
}
.PowerMas_Sub_Project_Item{
	background-color: #FFFAF6;
	border: 1px solid #372e2c3e;
}

/* END CREAR/MODIFICAR PERMISO-USUARIO */


/* MONITOREO */
.PowerMas_Add_Beneficiarie{
	border: 1px solid #F7775A;
	background-color: #FFF5EE;
	border-radius: 5px;
}
.PowerMas_Add_Execution{
	border: 1px solid #20737B;
	background-color: #20737b0f;
	border-radius: 5px;
}

.progress-bar {
    width: 100%;
    border-radius: 2px;
	height: 5px;
}

.progress-bar-fill {
    height: 5px;
    border-radius: 2px;
    width: 0;
    transition: width 0.5s ease-in-out;
}
.gap_5{
	gap: 0.5rem;
}
.gap-1{
	gap: 1rem;
}
.PowerMas_Icons_Sorter{
	width: 14px;
}
.ws-nowrap{
	white-space: nowrap;
}
/* FIN MONITOREO */

/* INICIO FORM BENEFICIARIO */
.w-auto{
	width: auto;
}
.flex-grow-1{
	flex-grow: 1;
}
.overflow-auto{
	overflow: auto;
}
.overflow-hidden{
	overflow: hidden;
}
.PowerMas_Header_Form_Beneficiarie{
}
.PowerMas_Content_Form_Beneficiarie_Card{
	border: 1px solid #372e2c3d;
	border-radius: 5px;
}
.PowerMas_Buttoms_Form_Beneficiarie{
	background-color: #FFFDFD;
	box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
}
.PowerMas_Buttoms_Form_Beneficiarie button{
	border-radius: 5px;
	border: 1px solid;
}

.PowerMas_Content_Form_Beneficiarie form input, 
.PowerMas_Content_Form_Beneficiarie form select{
	background-color: transparent;
	border: 1px solid #372e2c4f;
}
.PowerMas_Info_Form_Beneficiarie{
	background-color: #f7f7f7;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
}

.PowerMas_Info_Card{
	background-color: #F3F3F3;
	color: #000;
	border-radius: 5px;
	transition: background-color 0.2s ease-in;
}
.PowerMas_Info_Form_Beneficiarie_Progress{
	background-color: #F3F3F3;
	color: #F7775A;
	border: 1px solid #CFCFCF;
	border-radius: 5px;
}
.PowerMas_Info_Form_Beneficiarie_Progress h2{
	color: #20737B;
}

.PowerMas_Info_Form_Beneficiarie article > p{
	color: #7E7D7D;
}
/* FIN FORM BENEFICIARIO */

/* INICIO FORM META */
.PowerMas_Form_Goal{
	background-color: #FFE8D9;
	border: 1px solid #F7775A;
	border-radius: 5px;
}
.PowerMas_Info_Goal{
	border: 1px solid #372e2c3d;
	border-radius: 5px;
}
.PowerMas_Autocomplete {
    position: relative;
}

.PowerMas_Autocomplete_Options{
    position: absolute;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
}

.PowerMas_Autocomplete_Option {
    cursor: pointer;
}

.PowerMas_Autocomplete_Option:hover {
    background-color: #f0f0f0;
}


/* FIN FORM META */


.d3-tip {
	color: white;
	background-color: black;
	padding: 10px;
	border-radius: 4px;
	font-size: 12px;
  }





.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.options-menu {
    position: absolute;
    /* Ajusta estos valores según tus necesidades */
    right: 0;
    top: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.options-menu button {
	color: #757575;
	text-decoration: none;
	background-color: #fff;
	border: none;
}
  
.options-menu button:hover {
	background-color: #f1f1f1;
}

.PowerMas_Info_Profile{
	background-color: #FFE8D9;
	border: 1px solid #F7775A;
	border-radius: 5px;
}